<div class="container">
  <div class="col-md-6 col-md-offset-3">

    <div class="logo-container">
      <h1 class="logo">MyPromoter</h1>
      <h2 class="subtitle">An Upscale Connection Between Consumers & Nightlife</h2>
    </div>

    <div id='enter'>
       <a ng-click="Landing.enterApp()"><img id="appIcon" ng-src="{{Landing.appIconURL}}"/></a>
    </div>

    <div id='promoters'>
      <h2>Promoters:</h2>
      <button ng-click="Landing.goToSignIn()">Sign In</button>
      <h4>|</h4>
      <button ng-click="Landing.goToSignUp()">Sign Up</button>
    </div>

    <div id='about'>
      <h3>About Us</h3>
      <button ng-click="Landing.goToOurServices()">Our Services</button>
      <h4>|</h4>
      <button ng-click="Landing.goToMeetManagement()">Meet Management</button>
    </div>

  </div>
</div>