<div class="container">
	<div class="col-md-6 col-md-offset-3">
		<div class="logo-container">
			<h1 class="logo">MyPromoter</h1>
			<h2 class="subtitle">An Upscale Connection to Nightlife</h2>
		</div>
		<form class="auth-form sign-up" name="signUpForm" method="post" ng-show="Auth.signUpForm">
			<div class="input-container">
				<input
					ng-class="{ 'form-error' : Auth.firstName.$invalid && !Auth.firstName.$pristine }"
					ng-model="Auth.firstName"
					type="text" placeholder="First Name" class="input">
				<i class="fa fa-user" aria-hidden="true"></i>
			</div>

			<div class="input-container">
				<input
					ng-class="{ 'form-error' : Auth.lastName.$invalid && !Auth.lastName.$pristine }"
					ng-model="Auth.lastName"
					type="text" placeholder="Last Name" class="input">
				<i class="fa fa-user" aria-hidden="true"></i>
			</div>

			<div class="input-container">
				<input
					ng-class="{ 'form-error' : Auth.usernameUp.$invalid && !Auth.usernameUp.$pristine }"
					ng-model="Auth.usernameUp"
					type="text" placeholder="Username (13 Character Max)" class="input">
				<i class="fa fa-user" aria-hidden="true"></i>
			</div>

			<div class="input-container">
				<input
					ng-class="{ 'form-error' : Auth.email.$invalid && !Auth.email.$pristine }"
					ng-model="Auth.email"
					type="email" placeholder="Email" class="input">
				<i class="fa fa-envelope" aria-hidden="true"></i>
			</div>

			<div class="input-container">
				<input
					ng-class="{ 'form-error' : Auth.passwordUp.$invalid && !Auth.passwordUp.$pristine }"
					ng-model="Auth.passwordUp"
					type="password" placeholder="Password (4 Character Min)" class="input">
				<i class="fa fa-lock" aria-hidden="true"></i>
			</div>

			<div class="input-container">
				<input
					ng-class="{ 'form-error' : Auth.associatedVenue.$invalid && !Auth.associatedVenue.$pristine }"
					ng-model="Auth.associatedVenue"
					type="text" placeholder="Associated Venue" class="input">
				<i class="fa fa-user" aria-hidden="true"></i>
			</div>

			<div class="input-container">
				<input
					ng-class="{ 'form-error' : Auth.associatedArtist.$invalid && !Auth.associatedArtist.$pristine }"
					ng-model="Auth.associatedArtist"
					type="text" placeholder="associatedArtist (Whom You Know Really Well)" class="input">
				<i class="fa fa-user" aria-hidden="true"></i>
			</div>

			<div class="input-container">
				<input
					ng-class="{ 'form-error' : Auth.city.$invalid && !Auth.city.$pristine }"
					ng-model="Auth.city"
					type="text" placeholder="City (Base of Operations)" class="input">
				<i class="fa fa-user" aria-hidden="true"></i>
			</div>

			<button class="block yellow" class="input" ng-click="Auth.signUp({firstName: Auth.firstName,lastName: Auth.lastName, username: Auth.usernameUp, email: Auth.email, password: Auth.passwordUp, city: Auth.city, venue: Auth.associatedVenue, artist: Auth.associatedArtist, isPromoter: true}); Auth.playClick()">Sign Up</button>

			<!-- for error on signUp -->
			<div class="error-message" ng-if="Auth.signUpErrorMessage() && !Auth.signInForm">{{Auth.signUpErrorMessage()}}</div>

			<div class="switch-view-link">
				<h3 class="center-link"><a href="" ng-click="Auth.set('signinErrorMessage', ''); Auth.playClick() ; Auth.signInForm = true ; Auth.signUpForm = false">Sign In</a></h3>
			</div>
		</form>

		<form class="auth-form sign-in" ng-show='Auth.signInForm' method="post" ng-show="Auth.signInForm">
			<div class="input-container">
				<input
				ng-model="Auth.usernameIn" type="text" placeholder="Username">
				<i class="fa fa-user" aria-hidden="true"></i>
			</div>
			<div class="input-container">
				<input
					ng-model="Auth.passwordIn" type="password" placeholder="Password">
				<i class="fa fa-lock" aria-hidden="true"></i>
			</div>
			<button class="block yellow" ng-click="Auth.signIn({username: Auth.usernameIn, password: Auth.passwordIn, isPromoter: true}); Auth.playClick()">Sign In</button>

			<!-- for error on signIn -->
			<div class="error-message" ng-if="Auth.signInErrorMessage() && Auth.signInForm">{{Auth.signInErrorMessage()}}</div>

			<div class="switch-view-link">
				<h3 class="center-link"><a href="" ng-click="Auth.set('signupErrorMessage', ''); Auth.playClick() ; Auth.signUpForm = true ; Auth.signInForm = false">Sign Up</a></h3>
			</div>

		</form>

	</div>
</div>
